/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BOTÕES */
button {
  font-family: inherit;
}